*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Montserrat, Arial;
    overflow-y: auto;
}

#header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-image: url('https://i.pinimg.com/originals/19/44/ef/1944ef88b3e1d60643ceae8eec6b0fbc.jpg');
}

.banner {
    float: left;
    width: 50%;
}

#logo {
    padding: 15px 20px 18px;
    height: auto;
    max-width: 100%;
    flex: 3.209;
    background: rgb(253, 253, 253);
    box-shadow: 0px 8px 20px 1px rgba(0,0,0,0.2);
}

.header-right {
    float: right;
    width: 50%;
    text-align: right;
    font-family: Antonio, Arial;
    font-size: 22px;
    letter-spacing: 1px;
    flex: 20.8292;
}

#header-help, #header-disclaimers, #header-terms, #header-contact {
    padding-left: 30px;
    padding-right: 30px;
    color: black;
}

.header-right a:hover {
    font-weight: bold;
    text-decoration: none;
}

/* Portrait phones */
@media only screen and (max-width: 639px) {
    #header {
        display: block;
    }
    #logo {
        padding: 5px 5px 3px;
        display: block;
        margin: auto;
        box-shadow: none;
    }
    .banner {
        width: 100%;
    }
    .header-right {
        width: 100%;
        font-size: 17px;
        letter-spacing: 0px;
        text-align: center;
        border-top: solid #d9d9d9 1px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 3px;
        padding-bottom: 5px;
    }
    #header-help, #header-disclaimers, #header-terms, #header-contact {
        padding-left: 6px;
        padding-right: 6px;
    };
}

/* Some landscape phones */
@media only screen and (min-width: 640px) and (max-width: 824px) and (orientation: landscape) {
    .banner {
        width: 40%;
    }
    #logo {
        padding: 10px 13px 13px 8px;
    }
    .header-right {
        font-size: 20px;
        letter-spacing: 0.5px;
        width: 60%;
        text-align: center;
    }
    #header-help, #header-disclaimers, #header-terms, #header-contact {
        padding-left: 7px;
        padding-right: 7px;
    };
}

/* Tablets */
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .banner {
        width: 40%;
    }
    #logo {
        padding: 13px 15px 15px 10px;
    }
    .header-right {
        letter-spacing: 0.5px;
        width: 60%;
        text-align: center;
    }
    #header-help, #header-disclaimers, #header-terms, #header-contact {
        padding-left: 8px;
        padding-right: 8px;
    };
}

/* Smaller laptops and minimized screens */
@media only screen and (min-width: 1024px) and (max-width: 1200px) {
    .banner {
        width: 45%;
    }
    .header-right {
        width: 55%;
    }
    #header-help, #header-disclaimers, #header-terms, #header-contact {
        padding-left: 20px;
        padding-right: 20px;
    };
}

/* Footer position, page container and content wrap code from https://css-tricks.com/couple-takes-sticky-footer/ */
html, body {
    height: 100%;
}

#page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#content-wrap {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    font-family: Oswald, Arial;
    font-size: 18px;
    letter-spacing: 1px;  
    padding-top: 20px;
    text-align: center;
    font-weight: bold;
    bottom: 0;  
}

.footer p {
    font-size: 19px;
    letter-spacing: 0.5px;
    color: #fff5cc;
    margin-bottom: 0;
    padding: 8px 0px 4px;
    border-top: solid 1px #1a1a1a;
    background-color: #002266;
    font-weight: normal;
}

@media screen and (max-width: 335px) {
    .footer p {
        font-size: 17px;
    };
}

.footer-column ul {
    list-style: none;
    line-height: 1.8;
}

.footer-column ul li a {
    color: black;
}

@media screen and (max-width: 1023px) {
    div.footer-row {
        display: none;
    }
    .footer {
        padding-top: 0;
    }
    .footer p {
        border-top: none;
        padding: 10px 5px;
    };
}

/* Equal three column code from W3Schools at https://www.w3schools.com/howto/howto_css_three_columns.asp */
.footer-column {
    float: left;
    width: 33.33%;
}

.footer-row::after {
    content: "";
    display: table;
    clear: both;
}

.custom-container {
    padding: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Homepage (index) specific styling */
div#home-welcome {
    background-color: white;
}

#welcome-title {
    text-align: center;
    font-weight: bold;
    background-image: url('https://unblast.com/wp-content/uploads/2020/07/Abstract-Texture-1.jpg');
    margin-bottom: 0;
    text-shadow: 1.5px 1.5px 2px #000000;
    position: relative;
    z-index: 450;
    width: 100%;
    opacity: 0;
    animation: fade-in 0.8s ease forwards;
    animation-delay: 0.2s;
}

.index-banner, .index-rheader {
    animation: fade-in 0.8s ease forwards;
}

.index-topnav {
    opacity: 0;
    animation: fade-in 0.8s ease forwards;
    animation-delay: 0.2s;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.custom-alert {
    background: #ffdb9b;
    padding: 15px 25px;
    width: 100%;
    border-radius: 4px;
    border-left: 8px solid #ffa502;
    margin-bottom: 8px;
    float: left;
    position: relative;
    z-index: 500;
    opacity: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    animation: show_slide 0.8s ease forwards;
    animation-delay: 0.2s;
}

.custom-alert .msg {
    font-size: 18px
}

@media screen and (max-width: 767px) {
    .custom-alert {
        padding: 10px 15px;
    }
    .custom-alert .msg {
        font-size: 16px;
    };
}

.custom-alert a {
    color: #805100;
    font-weight: bold;
}

.custom-alert .close-btn {
    padding-left: 3px;
    font-size: 20px;
}
.close-btn:hover {
    color: #ce8500;
    cursor: pointer;
}

@keyframes show_slide {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
    };
}

.custom-alert.move {
    animation: hide_alert 0.6s ease forwards;
}

@keyframes hide_alert {
    0% {
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
    };
}

.custom-alert.hide {
    display: none;
}

#home-description {
    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url('https://images.unsplash.com/photo-1575540576545-3db8561c29e4?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bW9udHJlYWx8ZW58MHx8MHx8&ixlib=rb-1.2.1&w=1000&q=80');
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    animation: fade-in 1s ease forwards;
    padding-top: 30px;
    padding-bottom: 30px;
}

#index-about-me, #index-about-project {
    padding: 20px;
    border-radius: 10px;
    background: lightgoldenrodyellow;
    font-size: 22px;
    width: 80%;
    box-shadow: 3px 4px 12px 1px black;
}

@media screen and (min-width: 1600px) {
    #index-about-me, #index-about-project {
        width: 75%;
    };
}

@media screen and (min-width: 1800px) {
    #index-about-me, #index-about-project {
        width: 70%;
    };
}

@media screen and (min-width: 1850px) {
    #index-about-me, #index-about-project {
        width: 65%;
    };
}

#index-about-me {
    margin-top: 10px;
    text-align: left;
}

#home-description div p em a {
    font-size: 18px;
    color: #004de6;
}

#home-description div p em a:hover {
    font-weight: bold;
}

#index-about-project {
    float: right;
    text-align: right;
}

@media screen and (max-width: 568px) {
    #index-about-me, #index-about-project {
        font-size: 20px;
    }
    #home-description div p em {
        font-size: 16px;
        color: black;
    };
}

@media screen and (max-width: 768px) {
    #index-about-me, #index-about-project {
        width: 95%;
        float: none;
        margin: auto;
        text-align: center;
    }
    #home-description {
        padding: 25px;
    };
}

#get-started {
    font-family: Ubuntu, Arial;
    animation: fade-in 1s ease forwards;
}

#get-started h1 {
    font-weight: bold;
    text-align: center;    
    letter-spacing: 1px;
    text-shadow: 1px 1px 1.5px #000000;
    padding: 15px 20px;
    margin: 0;
    background: darkorange;
}

#get-started h4 {
    text-align: center;
    padding: 15px 25px 20px;
    background: azure;
    margin: 0;
    color: #00001a;
    line-height: 1.8;
}

#get-started h4 hr {
    border-top: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    #start-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    };
}

@media screen and (min-width: 1024px) {
    #start-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    };
}

#start-cards div.card-item {
    font-family: Oswald, Arial;
    position: relative;
    overflow: hidden;
    border: solid 0.5px #f2f2f2;
    display: grid;
}

#start-cards div.card-item img {
    opacity: 0.8;
    width: 100%;
    height: 250px;
    transition: 0.5s all ease-in-out;
}

#start-cards div.card-item:hover img {
    transform: scale(1.25);
}

#start-cards div.card-item div.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding-left: 12px;
    padding-right: 12px;
}

#start-cards div.card-item div.overlay .custom-card-title {
    font-weight: bold;
    letter-spacing: 1px;
    color: black;
    text-shadow: 1px 1px 1px #ffffff;
    font-size: 26px;
    margin-top: 15px;
}

#start-cards div.card-item div.overlay div.card-button a {
    font-weight: bold;
    letter-spacing: 1px;
    padding: 10px 15px;
    font-size: 23px;
    box-shadow: 4px 5px 12px 1px black;
}

#start-cards div.card-item div.overlay div.card-button {
    margin-top: 25px;
}

#start-cards div.card-item div.overlay div.citation {
    font-size: 10px;
    font-weight: normal;
    font-family: Arial;
    color: #1a1a1a;
}

@media only screen and (max-width: 300px) {
    #start-cards div.card-item div.overlay div.citation {
        font-size: 9px;
    }
    #start-cards div.card-item div.overlay div.card-button a {
        font-size: 20px;
    }
    #start-cards div.card-item div.overlay .custom-card-title {
        font-size: 23px;
    };
}

@media only screen and (min-width: 1024px) and (max-width: 1199px) {
    #start-cards div.card-item div.overlay div.citation {
        font-size: 8px;
    }
    #start-cards div.card-item div.overlay div.card-button a {
        font-size: 18px;
    }
    #start-cards div.card-item div.overlay .custom-card-title {
        font-size: 22px;
    };
}

#why-cegep {
    animation: fade-in 1s ease forwards;
}

.cegep-reasons {
    padding: 15px 45px;
    background: #fcfcfc;
}

.reason-column ul {
    font-size: 20px;
    margin: 0;
}

.reason-column ul li {
    display: list-item;
    padding: 8px;
    list-style-type: square;
}

.reason-column ul li:hover {
    font-size: 21.5px;
}

@media screen and (max-width: 640px) {
    #why-cegep h1 {
        font-size: 32px;
    }
    .reason-column ul {
        font-size: 16px;
    }
    .reason-column ul li:hover {
        font-size: 17px;
    };
}

@media screen and (min-width: 768px) {
    .cegep-reasons {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .reason-column {
        padding-left: 10px;
        padding-right: 10px;
    };
}

@media screen and (min-width: 1700px) {
    .reason-column ul li:hover {
        font-size: 22px;
    }
}

#why-cegep h1 {
    text-align: center;
    padding: 15px 15px 10px;
    margin: 0;
    background: navy;
    color: #fcfcfc;
    font-weight: bold;
}

.sources {
    padding: 0px 5px 5px;
}

#why-cegep small a {
    color: #262626;
}

#dates-important {
    font-family: Ubuntu, Arial;
}

#dates-important h1 {
    background: deepskyblue;
    padding: 15px;
    margin: 0;
    text-align: center;
}

#dates-important h1 a {
    color: #264040;   
}

#dates-important h1 a:hover {
    text-decoration: none;
    font-weight: bold;
}

i .fas {
    font-weight: normal;
}

#dates-important .events .event {
    padding: 10px 5px;
    margin-left: 1px;
    margin-right: 1px;
    background-color: azure;
}

#dates-important .events .event:hover {
    background-color: navy;
    border-radius: 5px;
}

#dates-important .events {
    border-top: solid 1px lightgray;
    border-bottom: solid 1px lightgray;
    display: grid;
};

@media screen and (max-width: 767px) {
    #dates-important .events {
        grid-template-columns: repeat(1, 1fr);
    };
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    #dates-important .events {
        grid-template-columns: repeat(2, 1fr);
    };
}

@media screen and (min-width: 1200px) {
    #dates-important .events {
        grid-template-columns: repeat(4, 1fr);
    };
}

#dates-important .events .event .time {
    background: #262626;
    width: 30%;
    height: 100%;
    text-align: center;
    float: left;
    font-family: Roboto Condensed, Arial;
    display: grid;
    align-items: center;
    margin: 0;
    padding: 0;
}

#dates-important .events .event .time h2 {
    margin: 0;
    color: #fff;
    font-size: 45px;
}

#dates-important .events .event .time h2 span {
    font-size: 30px;
}

#dates-important .events .event .details {
    padding: 10px;
    background: #f2f2f2;
    color: black;
    float: left;
    width: 70%;
    height: 100%;
}

#resources-hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1495465798138-718f86d1a4bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=750&q=80');
    height: 300px;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#resources-hero .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: bold;
    text-shadow: 0.5px 0.5px 1px #000000;
}

#resources-hero .hero-text p {
    font-size: 20px;
    font-weight: normal;
    margin-top: 15px;
}

#resources-hero .hero-text a {
    font-size: 22px;
    padding: 10px 15px;
}

#resources-hero .hero-footer {
    margin-left: 2px;
    font-size: 11px;
}

@media screen and (max-width: 315px) {
    #resources-hero .hero-text h3 {
        font-size: 18px;
    }
    #resources-hero .hero-text p {
        font-size: 16px;
    }
    #resources-hero .hero-text a {
        font-size: 16px;
        padding: 8px;
    };
}

@media screen and (min-width: 316px) and (max-width: 355px) {
    #resources-hero .hero-text h3 {
        font-size: 20px;
    }
    #resources-hero .hero-text p {
        font-size: 16px;
    }
    #resources-hero .hero-text a {
        font-size: 18px;
        padding: 8px;
    };
}

@media screen and (min-width: 356px) and (max-width: 568px) {
    #resources-hero .hero-text h3 {
        font-size: 22px;
    }
    #resources-hero .hero-text p {
        font-size: 18px;
    }
    #resources-hero .hero-text a {
        font-size: 20px;
        padding: 10px;
    };
}
