@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, serif;
}

html, body {
  height: 100%;
}

.custom-container {
  padding: 20px;
}

/* non-home page styling */
section {
  padding: 15px 10px;
  width: 70%;
  display: inline-block;
  overflow-wrap: break-word;
}

section h2 {
  padding: 10px 15px 5px;
  color: #000;
}

section p {
  font-size: 20px;
  padding: 0px 15px;
}

@media only screen and (max-width: 767px) {
  section {
    width: 100%;
    padding: 15px;
  }

  section p {
    font-size: 17px;
  }

  section ul li {
    font-size: 17px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1119px) {
  section {
    width: 72%;
  }
}

@media only screen and (min-width: 1200px) {
  section {
    width: 82%;
    padding-top: 24px;
  }
}

.section-container {
  padding: 15px;
}

h2 {
  font-weight: 600;
  margin-bottom: 15px;
}

h3 {
  padding: 10px 15px 0px;
}

.sources {
  color: gray;
  font-size: 13px;
  padding-left: 15px;
  padding-right: 15px;
}

.note {
  color: black;
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
}

.label {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 0;
  margin: 0;
}

.citation {
  font-size: 14px;
  padding-left: 15px;
  padding-right: 15px;
}

.citation a {
  color: black;
}

.sources a {
  color: #1a1a1a;
}

@media screen and (max-width: 568px) {

  .sources,
  .citation,
  .caption {
    font-size: 12px;
  }

  .note {
    font-size: 13px;
  }

  .label {
    font-size: 15px;
  }
}

.link-darkblue {
  color: #000099;
}

.full-indent {
  padding-left: 35px;
}

section ul {
  padding: 0px 35px;
  font-size: 20px;
  line-height: 1.75;
}

section ol {
  padding: 0px 35px;
  font-size: 20px;
  line-height: 1.75;
}

.ol-blue,
.ul-blue,
.text-blue {
  color: #002b80;
}

.ul-indented,
.ol-indented {
  padding-left: 70px;
}

img:not(#logo) {
  padding: 5px 15px;
}

img.figure {
  width: 75%;
}

.small-img {
  width: 50%;
}

.xsmall-img {
  width: 30%;
}

.xxsmall-img {
  width: 25%;
}

@media screen and (max-width: 768px) {
  img.figure {
    width: 100%;
  }

  .small-img {
    width: 100%;
  }

  .xxsmall-img {
    width: 80%;
  }
}

@media screen and (max-width: 567px) {
  .xsmall-img {
    width: 90%;
  }

  ul.inner li,
  ol.inner li {
    font-size: 16px;
  }

  .xxsmall-img {
    width: 100%;
  }
}

@media screen and (min-width: 568px) and (max-width: 768px) {
  .xsmall-img {
    width: 65%;
  }
}

.img-white-bg {
  background: white;
}

.lightblue-bg {
  background-color: #99bbff;
}

.yellow-bg {
  background-color: #ffeb99;
}

@media screen and (min-width: 1200px) {
  .about-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 7px;
    align-items: center;
    background: #fcf4e8;
  }
}

.about-grid img,
.rightsm-grid img {
  max-width: 100%;
}

@media screen and (max-width: 1024px) and (orientation: landscape) {

  .about-grid img,
  .rightsm-grid img {
    width: 75%;
  }
}

.about-grid ul,
.rightsm-grid ul {
  margin-top: 6px;
}

.about-grid ul li,
.leftsm-grid ul li {
  margin-bottom: 6px;
  overflow-wrap: break-word;
}

@media screen and (min-width: 1200px) {
  .rightsm-grid {
    display: grid;
    grid-template-columns: 65fr 35fr;
    padding-bottom: 7px;
    align-items: center;
    background: azure;
  }
}

.image-label {
  position: relative;
  margin-top: 8px;
  margin-bottom: 8px;
}

.caption {
  position: absolute;
  left: 5px;
  bottom: 5px;
  margin: 0;
  color: #f2f2f2;
  font-size: 13px;
  background: gray;
  opacity: 80%;
}

section h3 {
  font-family: Ubuntu, Arial;
  margin: 0;
  padding: 10px 15px;
  color: #000;
}

section h4 {
  padding: 5px 15px 15px;
}

#mari-about {
  background: #003cb3;
  color: white;
}

#dawson-about {
  background: #001a4d;
  color: white;
}

#vanier-about {
  background: red;
  color: white;
}

#champlain-about {
  background: #006080;
  color: white;
}

#jabbott-about {
  background: #0066ff;
  color: white;
}

#alc {
  background: orangered;
  color: white;
}

#lib-arts {
  background: orange;
  color: white;
}

#music {
  background: darkviolet;
  color: white;
}

#social-science {
  background: blue;
  color: white;
}

#science {
  background: green;
  color: white;
}

.description-top {
  margin-top: 15px;
}

section hr {
  background: #000066;
}

#accounting-management-tech {
  background: #009999;
  color: white;
}

#business-management {
  background: #000099;
  color: white;
}

#comp-sci-tech {
  background: black;
  color: #00ff00;
}

#nursing {
  background: #ff00bf;
  color: white;
}

#office-systems {
  background: silver;
}

#special-care {
  background: #ff5050;
  color: white;
}

.description-bottom {
  margin-top: 15px;
  margin-bottom: 15px;
}

.p-space-bottom {
  margin-bottom: 15px;
}

.card-body ul {
  padding-left: 55px;
}

@media screen and (max-width: 567px) {
  .card-body ul {
    padding-left: 35px;
  }
}

.card-body:not(.hr-blue) hr {
  background-color: #808080;
}

.gray-bg {
  background: darkgray;
}

.lightgray-bg {
  background: #bfbfbf;
}

.lightyellow-bg {
  background: #fff5cc;
}

#headingOne h2 button,
#headingTwo h2 button {
  color: black;
  font-weight: bold;
}

.card-header,
.card-footer {
  font-size: 18px;
}

ul.card-text {
  padding-left: 30px;
}

.text-white hr {
  background: black;
}

.banner-bottom {
  padding: 8px;
  border-radius: 5px;
  box-shadow: 0px 0px 15px 2px #000;
  display: block;
  margin: auto;
}

.skyblue-bg {
  background: #87ceeb;
}

.salmon-bg {
  background: salmon;
}

.cadetblue-bg, #champlain-regional-college-omnivox {
  background: cadetblue;
}

.lightorange-bg {
  background: #ffc966;
}

#sram {
  background: darkgray;
}

#dawson-application-centre {
  background: #3377ff;
}

#marianopolis-college-omnivox {
  background: #004de6;
  color: #fff;
}

.green-bg {
  background: #009900;
}

.lightgreen-bg {
  background: lightgreen;
}

.silver-bg {
  background: silver;
}

.orange-bg {
  background: #ff6600;
}

.gold-bg {
  background: gold;
}

.lightpurple-bg {
  background: #cc99ff;
}

.blue-bg {
  background: #0040ff;
}

.goldenrod-bg {
  background: goldenrod;
}

.brightyellow-bg {
  background: #e6e600;
}

.peach-bg {
  background: peachpuff;
}

.logo-img {
  width: 20%;
}

@media screen and (min-width: 568px) and (max-width: 767px) {
  .logo-img {
    width: 40%;
  }
}

@media screen and (max-width: 567px) {
  .logo-img {
    width: 80%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .logo-img {
    width: 30%;
  }
}

.event-row {
  margin: 5px 10px 45px 10px;
  display: grid;
}

.event-row .event {
  margin: 8px;
  height: 100%;
  border: solid white 0.5rem;
}

@media screen and (max-width: 999px) {
  .event-row {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .event-row {
    grid-template-columns: repeat(2, 1fr);
  }
}

.event-row .event .time {
  background: #262626;
  width: 30%;
  height: 100%;
  text-align: center;
  float: left;
  font-family: Roboto Condensed, Arial;
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.event-row .event .time h2 {
  margin: 0;
  color: #fff;
  font-size: 45px;
}

.event-row .event .time h2 span {
  font-size: 30px;
}

.event-row .event .details {
  padding: 10px;
  background: #f2f2f2;
  color: black;
  float: left;
  width: 70%;
  height: 100%;
}

@media only screen and (max-width: 319px) {
  .event-row .event .time {
    display: none;
  }

  .event-row .event .details {
    width: 100%;
  }

  .event-row .event {
    border: inset 1px black;
  }
}

.hide {
  visibility: hidden;
}

#site-link {
  user-select: all;
  color: #00004d;
}

#program-grid1,
#program-grid2 {
  padding-left: 5px;
  line-height: 1.75;
}

#program-grid1 li,
#program-grid2 li {
  font-size: 17px;
  margin-left: 25px;
}
